
:root {
  --c-bg-color: #2B2D42;
  --c-btn-color: #4ECDC4;
  --radius: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

html, body {
  background: #EDF2F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-login {
  display: flex;
  flex-direction: column;
  background: var(--c-bg-color);
  border-radius: var(--radius);
  width: 400px;
  height: auto;
}

.custom-login-inner {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.custom-login-avatar {
  background: url('cyber-corgi.png');
  background-size: cover;
  border: 3px solid #EDF2F4;
  width: 6em;
  height: 6em;
  margin: 0 auto;
  transform: translateY(-35px);
  border-radius: 100%;
}

input {
  appearance: none;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lighten(var(--c-bg-color), 4%);
  width: 100%;
  padding: 1.1em;
  color: #FFF;
  outline: none;
  font-size: 1.2em;
  text-align: left;
}

input:last-of-type {
  border-bottom: none;
}

input[type="submit"] {
  background: var(--c-btn-color);
  cursor: pointer;
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px;
  text-align: center;
  margin: 3em auto 0 auto;
  font-size: 1.2em;
}

h2 {
  opacity: 0;
  color: #FFF;
  text-align: center;
  font-size: 1.7em;
}

.error-container {
  margin-top: 5%;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.error-message {
  color: red;
  margin-top: 5px; 
  font-size: 1.2em;
}

.password-container {
  position: relative;
  display: flex;
}

input[type="password"] {
  flex: 1;
  padding-right: 30px; 
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0 10px;
  color: #FFF; 
  border: none;
  margin-right: 5px;
}
